<% date_counter = 0 %>

<% content_for :no_container do %>
<% provide(:title, t(".title")) %>

	<% if @events.count == 0 %>

		<%= render :partial => "translations" %>
		<%= yield :no_events_at_all %>

	<% else %>

<div class="events_container">

<% @events.order("created_at DESC").each do |event| %>


<% if event.date != date_counter %>
  <div class="header">
    <% if event.date.today? %>
  	  <p><%= t(".events_today_first")%>
        <b class="grey"><%= t(".events_today_second") %></b>
      </p>
      
      <div class="arrow"></div>
      
    <% else %>
      <p><%= l event.date, :format => "%A, " %>
        <b class="grey"><%= l event.date, :format => "%d.%m" %>:</b>
      </p>
      
      <div class="arrow"></div>

    <% end%>
  </div>
<% end %>


<div class="content">

  <div class="left">		
    <% if event.user.profile %>
        <%= link_to image_tag(event.user.profile.avatar.url(:medium)), event.user %>
    <% else %>
      	<%= image_tag "/avatars/medium/missing.png"%>
    <% end %>
  </div>

  <div class="right">
    <p class ="head"><%= event.title%><b class="grey"> <%=t(:at)%> <%= l event.time, :format => "%k:%M" %></b></p>
    <p class ="description"><%= event.short_description %></p>
  </div>

</div>


<div class="footer">

    <b class="replies" title=<%= t(".replies")%> rel="tooltip"><%= event.replies.count %></b>
    <b class="commits" title=<%= t(".commits")%> rel="tooltip"><%= event.replies.where(:commit => true).count %></b>
  
  <div class="right">
    <% if user_signed_in? &&
          user_is_not_current_user?(event) &&
          !@your_replies.find_by_event_id(event.id) %>        
      <%= link_to t(:reply), new_reply_path(:id => event)  %>
    <% end %>
  </div>
  
</div>


<% date_counter = event.date %>

<% end %>

<%= will_paginate(@events) %>

</div> <!-- Ende events_container -->

<% end %>

<% end %>

