<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
  	
	
	<div class="form_error_container">
      <p><b><%= t("errors.template.header", count: @message.errors.count) %> <%= t(:form_error)%></p></b>




      <p><% @message.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %></p>
    </div>
  <% end %>
  
  
  
  
  <div class="form_container">

	  <div class="left">
	
		  <div class="street">

	      <%= f.label t(:name) %>:<br />
	      <%= f.text_field :name %><br />
	      <%= f.label t(:email) %>:<br />
	      <%= f.text_field :email %><br />
	  </div>
	  </div>
	  
	  <div class="right">
		  <div class="input">
		  
	      <%= f.label t(:topic) %>:<br />
	      <%= f.select :topic, [[t(".general"), t(".general")], [t(".report_bug"), t(".report_bug")], [t(".report_user"), t(".report_user")]]%><br />
	  </div>
	  </div>
	  
	  <div class="bottom">
		  <div class="details">
		  
	      <%= f.label t(".content") %><br />
	      <%= f.text_area :content, :size => "10x11" %><br />
	  </div>
  	<div class="submit"><%= f.submit t(".submit")%></div>
	  
	  </div>



		</div>
	</div>
<% end %>



