<% content_for :no_container do %>

<% provide(:title, t(".title")) %>



<%= form_for @profile, :html => { :multipart => true } do |f| %>

  <% if @profile.errors.any? %>
    <div class="form_error_container">
      
      <p><b><%= t("errors.template.header", count: @profile.errors.count) %> <%= t(:form_error)%></p></b>

      <p><% @profile.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %></p>
    </div>
  <% end %>
  

  
<div class="general_container">
  	<div class="profile_content">
		
		
  		<div class="left">
			
  			<%= image_tag @profile.avatar.url(:big) %>
  			
  		</div>
			
  		<div class="right">
  			
			<table>
			    <%= f.hidden_field :user_id %>
				
				
				
				<tr>
					<td ><%= f.label t(:gender) %>:</td>
					<td><%= f.select :gender, [[t(:male), t(:male)], [t(:female), t(:female)]], :selected => t(:male) %></td>
				</tr>
				<tr>
					<td ><%= f.label t(:birthday) %>:</td>
					<td><%= f.date_select :birthday, :start_year => 1960, :end_year => Time.now.year, :use_month_numbers => true %></td>
				</tr>
				<tr>
					<td ><%= f.label t(:hometown) %>:</td>
					<td><%= f.text_field :hometown %></td>
				</tr>
				<tr>
					<td ><%= f.label t(:profession) %>:</td>
					<td><%= f.text_field :profession %></td>
				</tr>
				<tr>
					<td ><%= f.label t(:hobbies) %>:</td>
					<td><%= f.text_field :hobbies %></td>
				</tr>
				<tr>
					<td><%= t(".receive_mails") %></td>
					<td><%= f.check_box :receive_mails %></td>
				</tr>
				
				
			</table>
			
			<div class="upload_label">
				<%= t(".upload_label")%>
			</div>
			<div class="upload">
		  	<%= f.file_field :avatar %>
			</div>
			
			
			
		    <div class="description">
				<div class="description_label"><%= t(".about_you_label")%></div>
		      <%= f.text_area :about_you, :size => "10x11" %>
  		    
			<div class="actions">
  		      <%= f.submit t(:submit)%>
  		    </div>
		    
			</div>
			
		    
			
  		</div><!-- end right -->
		
	</div>
		
		
	
		
	</div>
</div>


<% end %>


<% end %>