
<% content_for :no_container do %>

<% provide(:title, t(".title")) %>

<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

<div class="form_container">

  <div class="default_forgot">
	  
	  
	  <%= f.label t(:email) %><br />
	    <%= f.email_field :email, :autofocus => true %><div class="default_submit"><div class="actions"><%= f.submit t(".submit") %></div></div></div>

	    
  </div>
</div>



<% end %>



<% end %>





