<% content_for :no_container do %>

<% if @all_replies.blank? %> <!-- wenn neuer user ohne replies -->

<div class="how_to_container_replies">
	
	<p><b>You haven't replied on any Events yet.</b></p>
	<p><%= link_to "Click here", by_date_path %> to find an event that you like to attend, and click on the reply-button. The user will look at your profile and invite you to his event if he likes.</p>
	<p>Alternatively you can <%= link_to "create your own Event", new_event_path %>.</p>
	
</div>

<% else %> 

<% if @future_replies.blank? %><!-- wenn schon mal welche gemacht, aber gerade keine. -->

<div class="how_to_container_replies">
	
	<p><b>You currently have no replies on future events.</b></p>
	<p>Why not reply to a new one? You know how it works. Simply <%= link_to "click here", by_date_path %> and reply to one you like.</p>
	<p>Alternatively you can as always <%= link_to "create your own Event", new_event_path %>.</p>
	
</div>

<% else%> <!-- wenn welche da -> auflistung aller zukünfitgen -->





<% unless @replies_waiting.blank? %>

<div class = "head_container"><p>Waiting for Invitation:</p></div>

<% @replies_waiting.each do |reply| %>

<% unless reply.event.date < Date.today %>

<div class="general_container">

	<div class="header">
		<div class="left"><p><%= reply.event.date %></p></div>
		<div class="right">
			<p><% if reply.approved == true && reply.looked_at_invitation == false %>
			<b class="counter">New</b><% else %>&nbsp;<% end %></p>
		</div>
	</div>

	<div class="content">	
		<div class="general_test"><%= reply.event.short_description %></div>
	</div>

	<div class="footer">
		<div class="left"><p>&nbsp;</p></div>
		<div class="right">
			<p><%= link_to "Show", reply.event if reply.approved == true %></p>
		</div>
	</div>

</div>

<% end %><% end %><% end %>


<!--  _______________________________________________________________  -->




<% unless @replies_invited.blank? %>

<div class = "head_container"><p>Upcoming Event Invitations:</p></div>

<% @replies_invited.each do |reply| %>

<% unless reply.event.date < Date.today %>

<div class="general_container">

	<div class="header">
		<div class="left"><p><%= reply.event.date %></p></div>
		<div class="right">
			<p><% if reply.approved == true && reply.looked_at_invitation == false %>
			<b class="counter">New</b><% else %>&nbsp;<% end %></p>
		</div>
	</div>

	<div class="content">	
		<div class="general_test"><%= reply.event.short_description %></div>
	</div>

	<div class="footer">
		<div class="left"><p>&nbsp;</p></div>
		<div class="right">
			<p><%= link_to "Show", reply.event if reply.approved == true %></p>
		</div>
	</div>

</div>


<% end %><% end %><% end %>


<!--  _______________________________________________________________  -->



<% unless @replies_commited.blank? %>

<div class = "head_container"><p>Upcoming Events you commited:</p></div>


<% @replies_commited.each do |reply| %>

<% unless reply.event.date < Date.today %>

<div class="general_container">

	<div class="header">
		<div class="left"><p><%= Date.today %><%= reply.event.date %></p></div>
		<div class="right">
			<p>&nbsp;</p>
		</div>
	</div>

	<div class="content">	
		<div class="general_test"><%= reply.event.short_description %></div>
	</div>

	<div class="footer">
		<div class="left"><p>&nbsp;</p></div>
		<div class="right">
			<p><%= link_to "Show", reply.event if reply.approved == true %></p>
		</div>
	</div>

</div>


<% end %><% end %><% end %>






<% end %>









<% end %>


















<% end %>