<% provide(:title, t(".title")) %>

<% content_for :no_container do %>



<%= devise_error_messages! %>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
  
  <div class ="form_container">
  
  
<div class="left_signup">
	<%= f.label t(".name") %>
	<%= f.label t(".email") %>
	
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t(".waiting_for_email")%><%= resource.unconfirmed_email %></div>
    <% end %>
	
	<%= f.label t(".password") %></br>
	<%= f.label t(".confirmation") %>
	<%= f.label t(".current_password") %>
</div>

<div class="right_signup">
	<%= f.text_field :name, :autofocus => true %>
	<%= f.email_field :email %>
	<%= f.password_field :password, :autocomplete => "off" %><i><%= t(".password_leave_blank")%></i>
	<%= f.password_field :password_confirmation %>
	<%= f.password_field :current_password %><i><%= t(".old_password_needed") %></i>
</div>


<div class="footer">
<div class="f_left"><div class="small"><%= link_to t(".cancel_account"), registration_path(resource_name), :data => { :confirm => t(".sure") }, :method => :delete %></div></div>

<div class="f_right"><div class="actions"><%= f.submit t(".submit") %></div></div>
</div>


<% end %>




</div >

<% end %>