<% provide(:title, t(".title")) %>

<% content_for :no_container do %>

<%= devise_error_messages! %>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

<div class ="form_container">






  
  
	<div class="left_signup">
		<%= f.label t(".name") %>
		<%= f.label t(".email") %>
		<%= f.label t(".password") %>
		<%= f.label t(".confirmation") %>
	</div>
	
	<div class="right_signup">
		<%= f.text_field :name, :autofocus => true %>
		<%= f.email_field :email %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation %>
	</div>
	
	<div class="footer_center">
		<div class="actions"><%= f.submit t(".submit") %></div>
	</div>
  

<% end %>


</div >

<% end %>