
<% provide(:title, "Sign in") %>


<% content_for :no_container do %>


<div class ="form_container">




<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

 	<div class="left_signup"><%= f.label :email %></div>
	<div class="right_signup"><%= f.email_field :email, :autofocus => true %></div>
  
  <div class="footer_center"><%= f.submit "Send me reset password instructions" %></div>
<% end %>



</div>





<% end %>