<div class ="general_container">

	<% if user_signed_in? %>

<div class="header">

	<p>Welcome <%= current_user.name %> </p>

</div>

<% if current_user.profile %>
<%= image_tag current_user.profile.avatar.url(:thumb) %>
<% else %>
<%= image_tag "/avatars/thumb/missing.png" %>
<% end %>

<p>You've created <%= current_user.events.count %> Events so far:</p>

<p>You've replied on <%= current_user.replies.count %> events.</p>

<p><%= link_to "Show my Replies", replies_path %></p>	


<p>You have <h4><%= count_new_replies_for_events(current_user.events) %></h4> new Replies on your events!</p>

<p>----------------</p>

<p>You have <h4><%= count_new_invitations %></h4> new Invitations for Events.</p>

<p>----------------</p>

<p>You have <h4><%= count_new_commits_for_events(current_user.events) %></h4> new Commits to your Events.
        
<p>----------------</p>

<p>You have <h4><%= count_new_ratings %></h4> new Ratings. </b>


<% else %>

<p>Sign up to create Events and respond to other Users Events: <%= link_to "Singup Page", signup_path %><p>

<% end %>

</div>