<% if user_signed_in? %>

<div class="user_overview_container">


  <div class="short_profile">
    
    <div class="left">
      <% if current_user.profile %>
      	<%= image_tag current_user.profile.avatar.url(:thumb) %>
      <% else %>
      	<%= image_tag "/avatars/thumb/missing.png" %>
      <% end %>
    </div>
    
    <div class="right">
      <div class="username">
        <%= link_to current_user.name, current_user %><br />
      </div>
      
  		<% if count_new_ratings > 0 %>
        <%= t(".new_ratings", count: count_new_ratings) %>
      <% end %>

      <% if user_signed_in? %>
        <div class="signout">
        	<%= link_to t(:signout), destroy_user_session_path, :method => :delete %>
        </div>
      <% end %>
  </div>

  </div>
  
  
  <div class="horizontal_ruler"></div>
  
  
  <div class="events_overview">
    
    <div class="head"><%= link_to t(".your_events"), events_path %><b class="grey"> (<%= link_to count_users_events, events_path %>)</b></div>
    
    <% if count_new_replies_for_events(current_user.events) > 0 %>
      <div class="element">
        <%= link_to count_new_replies_for_events(current_user.events),
        events_path, :class => "orange" %>
        <%= link_to t(".new_replies", count: count_new_replies_for_events(current_user.events)),
        events_path, :class => "regular" %>
      </div>
    <% end %>
	
		<% if count_new_commits_for_events(current_user.events) > 0 %> 
      <div class="element">
        <%= link_to count_new_commits_for_events(current_user.events),
        events_path, :class => "orange" %>
        <%= link_to t(".new_commits", count: count_new_commits_for_events(current_user.events)),
        events_path, :class => "regular" %>
      </div>
	  <% end %>
	
	  <% if count_new_comments_for_events(current_user.events) > 0 %>
      <div class="element">
        <%= link_to count_new_comments_for_events(current_user.events),
        events_path, :class => "orange" %>
        <%= link_to t(".new_comments", count: count_new_comments_for_events(current_user.events)),
        events_path, :class => "regular" %>
      </div>
    <% end %>
    
  </div>
    
  
	<div class="replies_overview">
    
    <div class="head"><%= link_to t(".your_replies"), replies_path %><b class="grey"> (<%= link_to count_users_replies, replies_path %>)</b></div>
	
		<% if count_new_invitations > 0 %>
      <div class="element">
        <%= link_to count_new_invitations, replies_path, :class => "orange" %>
        <%= link_to t(".new_invitations", count: count_new_invitations), replies_path, :class => "regular" %>
      </div>
    <% end %>	
    
  </div>
  
  
  <div class="horizontal_ruler"></div>
  
    
  <% if upcoming_events_for_current_user.count > 0 %>
    
    
    <div class="today_overview">
      
      <div class="head"><%= t(".todays_events") %></div>
  	
  		<% upcoming_events_for_current_user.each do |reply| %>
      
        <div class="time">
          <%= t(:at_big)%> <%= reply.event.time.strftime("%I:%M") %> <%= t(:oclock) %>:
        </div>
        
        <div class="title"><%= reply.event.title %></div>
        
  		<% end %>
      
    </div>

  <% end %>

	
</div>






<% else %> <!-- ###################if not logged in################### -->

<%= render :partial => "signup"%>

<% end %>













