<div class ="general_container">

	<% if user_signed_in? %>

<div class="menu_header">

	<p><b>Welcome</b> <%= current_user.name %> </p>

</div>

<div class="menu_content">
	
	<% if current_user.profile %>
	<%= image_tag current_user.profile.avatar.url(:medium) %>
	<% else %>
	<%= image_tag "/avatars/medium/missing.png" %>
	<% end %>



	<div class="menu">
		<div class="item"><%= link_to "Your Events", events_path %>
	
<!--  link_to "Your Events", events_path, :class => "tooltip", :title => "Check it out" -->	
	
			<% if count_new_replies_for_events(current_user.events) > 0 %>
		<div class="counter"><%= count_new_replies_for_events(current_user.events) %> New Replies</div><% end %>
	
		<% if count_new_commits_for_events(current_user.events) > 0 && count_new_replies_for_events(current_user.events) > 0 %>
	<br><div class="counter"><%= count_new_commits_for_events(current_user.events) %> New Commits</div>
	<% elsif count_new_commits_for_events(current_user.events) > 0 %>
	<div class="counter"><%= count_new_commits_for_events(current_user.events) %> New Commits</div>
	<% end %>
	
	<% if count_new_comments_for_events(current_user.events) > 0 %>
	<div class="counter"><%= count_new_comments_for_events(current_user.events) %> New Comments</div>
	<% end %>
	
	
	</div>

	<div class="item_odd"><%= link_to "Your Replies", replies_path %>
	
		<% if count_new_invitations > 0 %>
	<div class="counter"><%= count_new_invitations %> New Invitations</div>
	<% end %>	
	
	
	</div>
	<div class="item"><%= link_to "Your Profile", current_user %>
	
		<% if count_new_ratings > 0 %>
	<div class="counter"><%= count_new_ratings %>New Ratings</div>
	<% end %>
	</div>
	</div>





	</div> <!-- end content-->




<% else %> <!-- ###################if not logged in################### -->
<div class="do_sign_up">
<p><%= link_to "Sign up", new_user_registration_path %> to create Events and respond to other Users Events.</p><br><p>If you already have an account, please <%= link_to "Sign in", new_user_session_path %> <p>
</div>
	<% end %>


</div>

<% if upcoming_events_for_current_user.count > 0 %>

<div class ="general_container">
	
	<div class="upcoming_header">
		<p>Your Events for today:</p>
	</div>
	<div class="upcoming_content">
		
		<% upcoming_events_for_current_user.each do |reply| %>
		<div class="<%= cycle('content_even', 'content_odd') %>">
		<p><%= reply.event.time.strftime("At %I:%M o'clock:") %></br>
		<%= reply.event.short_description %></p>
		</div>
		<% end %>
		
	</div>
	
</div>

<% end %>









