<div class="general_container">

	<div class="header"><p><%= link_to event.user.name, event.user %> wrote:</p></div>
	<div class="content">
		<div class="left"><% if event.user.profile %>
	<p><%= image_tag event.user.profile.avatar.url(:thumb) %>
	<% else %>
	<p><%= image_tag "/avatars/thumb/missing.png"%>
	<% end %>
	
	</div><div class="right"><p><%= event.short_description %></p></div>
</div>
	<div class="footer">
		
		<div class="left"><p><b class="replies"><%= event.replies.count %></b><b class="commits"><%= event.replies.where(:commit => true).count %></b></p></div>
		
		<div class="right"><p>
			<%= link_to 'Reply', new_reply_path(:id => event) if user_signed_in? && user_is_not_current_user?(event) && !@your_replies.find_by_event_id(event.id) %></p></div>
		
	</div>

</div>
