


<%= form_for(@event) do |f| %>

<% provide(:title, t(".title")) %>

  <% if @event.errors.any? %>
  
  
    <div class="form_error_container">
      <p><b><%= t("errors.template.header", count: @event.errors.count) %> <%= t(:form_error)%></b></p>

      <p><% @event.errors.full_messages.each do |msg| %>
       &bullet;&nbsp;<%= msg %></br>
  
  
  
      <% end %></p>

    </div>
  <% end %>
  
  

  
  
  
  
  <div class="form_container">
	  
 
    
	  <div class="left">
      
      <%= f.label t(".event_title") %>
      <%= f.text_field :title %>

    <%= f.hidden_field :user_id %>    

  <div class="textarea">
    <%= f.label t(".brief_description") %><br />
    <%= f.text_area :short_description, :size => "10x5" %>
  </div>
  
</div>
<div class="right">
  
  <div class="input">
    <%= f.label t(".when") %>:<br />
    <%= f.text_field :date %>
</div>
<div class="time">
    <%= f.label t(".at") %>:<br />
    <%= f.time_select :time %>
  </div>
</div> 
	</div>
  
  
    <div class="form_container">
  
		<div class="spacer"><%= t(".visible_notice")%>:</div>
	<div class="left">
    <%= f.hidden_field :city %>
  <div class="street">
    <%= f.label t(".street") %>
    <%= f.text_field :street %>
  </div>
</div><div class="right">
  <div class="input">
    <%= f.label t(".meeting_point") %><br />
    <%= f.text_field :meeting_point %>
  </div>
	</div>
	
	
	<div class="bottom">
  <div class="details">
    <%= f.label t(".details") %><br />
    <%= f.text_area :details, :size => "10x6" %>
  </div>
  <div class="submit">
    <%= f.submit t(".submit") %>
  </div>
</div>
</div>
  
  
<% end %>
