
<% content_for :no_container do %>

<% provide(:title, t(".title")) %>

<% gate = false %>

<% if @events.blank? %>


<div class="how_to_container_replies">
	
  <% render :partial => "translations" %>
  <%= yield :no_events_created %>
	
</div>




<% else%>

<div class="head_container"><p><%= t(".your_events")%>:</p><div class="head_right"><%= link_to t(".create_new"), new_event_path, :class => "button" %></div></div>
        
<% @events.order("date DESC").each do |event| %>    

<% if event.date >= Date.today %> <!-- ___________ Neuere Events _____________ -->

<div class="general_container">
	
	<div class="header">
		
		<div class="left"><p><%= event.date %></p></div>
	
	<div class="right">
		<p>
			<% if count_new_replies_for_event(event) > 0%>
			<b class="counter"><%= count_new_replies_for_event(event) %> <%= t(".new_replies")%></b>
			<% end %>
			
			<% if count_new_commits_for_event(event) > 0%>
			<b class="counter"><%= count_new_commits_for_event(event) %> <%= t(".new_commits")%></b>
			<% end %>
			
			<% if count_new_comments_for_event(event) > 0%>
			<b class="counter"><%= count_new_comments_for_event(event) %> <%= t(".new_comments")%></b>
			<% end %>
			
			<% if count_new_replies_for_event(event) == 0 && count_new_commits_for_event(event) == 0%> &nbsp;<% end %></p>
		
		</div></div>

	<div class="content">
		
		<div class="general_test">
	
<%= event.short_description %>

</div>

</div>

<div class="footer">
	
	<div class="left"><p><b class="replies" title=<%= t(".number_of_replies") %> rel="tooltip"><%= event.replies.count %></b><b class="commits" title=<%= t(".number_of_commits") %> rel="tooltip"><%= count_commits(event) %></b></p></div>


<div class="right">

<p><%= link_to t(:show), event, :class => 'button'%>
	<%= link_to t(:edit), edit_event_path(event), :class => 'button' %>
	<%= link_to t(:delete), event, method: :delete, data: { confirm: t(:standard_confirm) }, :class => 'button' %>  </p>
</div>
</div>
</div>
   

<% else %> <!-- __________________ Ältere Events __________________ -->

<% if gate == false %>

<div class="head_container"><p><%= t(".past_events")%></p></div>

<% end %>


<div class="general_container">
	
	<div class="header">
		
		<div class="left"><p><%= event.date %></p></div>
	
	<div class="right"><p><% if count_new_replies_for_event(event) > 0%><b class="counter"><%= count_new_replies_for_event(event) %> <%= t(".new_replies")%></b><%end%><% if count_new_commits_for_event(event) > 0%><b class="counter"><%= count_new_commits_for_event(event) %> <%= t(".new_commits")%></b><% end %><% if count_new_replies_for_event(event) == 0 && count_new_commits_for_event(event) == 0%> &nbsp;<% end %></p></div></div>

	<div class="content">
		
		<div class="general_test">
	
<%= event.short_description %>

</div>

</div>

<div class="footer">
	
	<div class="left"><p><b class="replies" title=<%= t(".number_of_replies") %> rel="tooltip"><%= event.replies.count %></b><b class="commits" title=<%= t(".number_of_commits") %> rel="tooltip"><%= count_commits(event) %></b></p></div>


<div class="right">

<p>
	
	<% if event.ratings.count != event.replies.where(:commit => true).count %>
		
		<%= link_to t(".rate_users"), rate_users_path(:id => event), :class => "button" %>
			
		<% elsif event.ratings.where(:comment => nil).count > 0 %>
			
		<%= link_to t(".comment_users"), rate_users_path(:id => event), :class => "button" %>
			
			
	<% end %>
	
</p>


</div>
</div>
</div>

<% gate = true %>


<% end %>






<% end %>



<% end %>
<% end %>
