<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this reply from being saved:</h2>


    	<div class="form_error_container">
          <p><b><%= t("errors.template.header", count: @rating.errors.count) %> <%= t(:form_error)%></p></b>

          <p><% @rating.errors.full_messages.each do |msg| %>
            <%= msg %></br>
          <% end %></p>
        </div>
      <% end %>
  

  
  
  <div class="form_container">

	  <div class="default">

    <%= f.label t(".your_comment") %><br />
    <%= f.text_area :comment, :size => "10x11" %>

	<div class="default_submit">
		<div class="actions">
    <%= f.submit t(".submit_comment")%></div>
</div>
		</div>
	</div>
  
  
  
  
  
  
  
<% end %>
