
<% provide(:title, t(".title")) %>


<% content_for :no_container do %>




<div class ="form_container">


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="left_signup">
	<%= f.label t(".email") %>
	<%= f.label t(".password") %>
    
	
</div>

<div class="right_signup">
	<%= f.email_field :email, :autofocus => true %><br>
	<%= f.password_field :password %><br>
</div>


<div class="footer">
<div class="f_left"><div class="small">
	
    <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>&nbsp;<%= t(".remember_me") %>&nbsp;&nbsp;&nbsp;
    <% end -%>
	
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <%= link_to t(".forgot_password"), new_password_path(resource_name) %><br />
	<% end -%>
	
</div>
</div>
<div class="f_right"><div class="actions"><%= f.submit t(".submit") %></div></div>

</div>

</div>

<% end %>

<% end %>