<!DOCTYPE html>
<html>
<head>
  <title>Drop.in - Get to know new people - <%= yield(:title) %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" %>



  <%= javascript_include_tag "application" %>






  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body>
	
	<div id="bug"><%= link_to image_tag('/assets/bug.png'), contact_path %></div>
	
	
	<div id="header">
		<div id="header_container">
			
	
		<div id="logo"><%= link_to image_tag('/assets/drop_logo.png'), root_path %></div>
	
	
	<div id="right_menu">
	<% if user_signed_in? %>
		
		
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
	<!-- #############Ende################## -->
	</div> <!-- end right_menu -->
</div><!-- end header_container -->
	</div> <!-- end header -->
	
	<% if user_signed_in? == false %>
	<div id="info_field"></div>
	<% else %>
	
	<% unless current_user.profile %>
	<div id="profile_notification"><b>You have no Profile.</b> <%= link_to "Create one", new_profile_path(@user) %> to improve your chance to get invitations.</div>
	<% end %>
	
	<% if current_user.profile && current_user.profile.avatar.url == "/avatars/original/missing.png" %>
	<div id="profile_notification"><b>You have no Profile-Picture.</b> <%= link_to "Upload one", edit_profile_path(current_user.profile) %> to let people see how you look.</div>
	<% end %>
	
	
	
	<% end %>
	
	
	<div id="wrapper">
	
	
	
	<div id="content">
	
	
	<div id="left"><%= render "shared/user_overview"%>
	</div><!-- end left -->
	<div id="vertical_spacer">&nbsp;</div><!-- end vertical spacer -->
	
	<div id="right">
		
		<% flash.each do |key, value| %>
		<div class="informer"><p><% key %> <%= value %></p></div>
		<% end %>
		
				
		<% if content_for?(:no_container) %>
			<%= yield(:no_container) %>
		<% else %>
			<div class="page_container"><%= yield %></div>
		<% end %>
	
	</div><!-- end right -->
	
</div><!-- end content -->

</div> <!-- end wrapper -->

<div id="footer"><div id="footer_container"><div id="footer_left">&copy; 2013 Drop.in</div><div id="footer_right"><%= link_to "Imprint", imprint_path %> &nbsp;|&nbsp; <%= link_to "Help", help_path %> &nbsp;|&nbsp; <%= link_to "Contact", contact_path%></div></div></div>

</body>
</html>











